{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "rules": {
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0
  }
}